* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  margin:auto;
  max-width: 1600px;
}
/*header*/
h2{
  font-size: 18px;
}
h3{
  font-size:16px;
}
nav{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr{
  display: none;
}
 nav #logo{
  margin:  10px 10px 10px 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav #ul_nav{
  display: flex;
  margin-right: 55px;
}
nav #li_lodging, #li_activity, #li_subscrib{
  border-top:2px solid transparent;
  font-size: 18px;
  padding: 40px;
  
}
a {
  text-decoration: none;
  color:black;
}
a {
  color:#0065fc;
}
#li_lodging:hover{
  border-top: 2px solid #0065fc;
  color:blue
}
a #li_activity{
  color:black;
}
#li_activity:hover{
  border-top: 2px solid #0065fc;
  color:blue
  
}
#li_subscrib:hover{
  border-top: 2px solid #0065fc;
  color:#0065fc;
  
}
/* MAIN*/
main{
  margin:auto;
  max-width: 1600px;
}
/*TITLE*/
title{
  margin: auto;
  max-width: 1600px;
}
#title1  h1{
  font-size: 21px;
  margin: 0px 0px 10px 55px;
}
#title2 p{
  margin-left:55px;
}
/*SEARCH*/
#search{
  margin:auto;
  max-width: 1600px;
  display: flex;
  margin: 20px 0px 10px 55px;
}
#button_gps{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:15px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  border-color: #f2f2f2;
}
#search_input{
  display: flex;
  border:1px solid #f2f2f2;
  max-width:250px;
  width:100%;
  height:50px;
}
#input{
  width:100%;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  color:black;
  font-weight: bold;
}

#submit_search{
  font-size: 18px;
  background-color: #0065fc;
  color:white;
  font-weight: bold;
  height: 50px;
  border:none;
  border-radius: 0 15px 15px 0;
  padding:0 15px;
  cursor: pointer;
 
}
#submit_input_respons{
  display:none;
}
/*FILTERS*/
#filters{
  margin: auto;
  max-width:1600px;
  display:flex;
  
}
#filters_contains{
  display:flex;
  flex-wrap: wrap;
  margin:33px 0px 43px 55px;
  
}
#filter_title{
  display: flex;
  align-items: center;
  margin-right: 55px;
}
#filter_title h2{
  font-size: 18px;
}
#filter_eco_fam{
  display: flex;
}
#filter_eco, #filter_fam, #filter_rom, #filter_anim{
  display:flex;
  border:2px solid #f2f2f2;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  margin-right: 25px;
  padding-right: 20px;
  font-size: 18px;
}
#filter_eco{
  display: flex;
  
}
#icone_eco,#icone_fam,#icone_rom,#icone_anim {
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #f2f2f2;
  height: 50px;
  width: 50px;
  color:#0065fc;
  margin-right: 15px;
  cursor: pointer;
  
}
#icone_eco:hover{
  background-color: #0065fc;
  color:white;
}
#icone_fam:hover{
  background-color: #0065fc;
  color:white;
}
#icone_rom:hover{
  background-color: #0065fc;
  color:white;
}
#icone_anim:hover{
  background-color: #0065fc;
  color:white;
}
/*LEGEND*/
#informations{
  margin:auto;
  max-width:100%;

}
#filter_legend{
  display: flex;
  margin:0px 40px 0 55px;
}
#legend_icon{
  color: #0065fc;
  border: 2px solid #f2f2f2;
  margin-right: 12px;
  width: 30px;
  height:30px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 3px;
  align-items: center;
  margin-right: 10px;
}
#legend{
  display:flex;
  align-items: center;
}
/*LODGING POPULAR*/
/*LODGING*/
article{
  max-width: 1600px;
  margin:auto;
}
#lodging_title h2{
  font-size: 18px;
}
#contain_principal{
  margin: auto;
  max-width: 1600px;
  display: flex;
 justify-content: space-between;
}

#lodging_contain{
  display: inline-block;
  height: 620px;
  background-color:#f2f2f2;
  width: 60%;
  border-radius: 20px;
  margin-top: 40px;
}

#lodging_title{
  margin:40px 0 30px 40px;
  }

#lodging_card_contain{
  display: flex;
  margin:0px 37px 104px 37px;
  justify-content: space-between;
  flex-wrap: wrap;
}
#lodging_card1, #lodging_card2, #lodging_card3, #lodging_card4, #lodging_card5, #lodging_card6{
  width: 30%;
  height: 195px;
  background-color: white;
  border-radius: 15px;
}
#lodging_card4, #lodging_card5, #lodging_card6{
  margin-top: 25px;
}
#lodging_card_img1, #lodging_card_img2, #lodging_card_img3, #lodging_card_img4, #lodging_card_img5, #lodging_card_img6 {   
  display: flex;
  justify-content: center;
  width: 100%;
  height: 116px;
}
#lodging_card_img1 img, #lodging_card_img2 img, #lodging_card_img3 img, #lodging_card_img4 img, #lodging_card_img5 img,#lodging_card_img6 img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.lodging_card_text1{
  font-weight: bold;
  font-size: 16px;
  padding:10px 0 1px 10px;
}
.lodging_card_text2{
  font-size: 16px;
  padding:1px 0 0px 10px;
}
.lodging_car_star1{
  padding-left: 10px;
}
#legend_lodging{
  font-weight: bold;
  display: flex;
  margin:40px 0px 50px 0px;
  font-size: 18px;
}
/*POPULAR*/
#popular_contain{
  display: inline-block;
  background-color: #f2f2f2;
  width: 30%;
  border-radius: 20px;
  margin-top: 40px;
  
}
#popular_title_icon{
  display:flex;
  margin:40px 0px 30px 0px;
  justify-content: space-around;

}
#popular_title{
  display: flex;
  font-size: 21px;
  font-weight: bold;
}
#popular_icon{
  display: flex;
}
#popular_card_contain{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 90%;
  margin: auto;
 
  
}
#popular_card1, #popular_card2, #popular_card3{
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 7px 17px 8px 5px rgba(237,237,237,1);
  margin-bottom: 5%;
  
  
}
#popular_card_img1, #popular_card_img2, #popular_card_img3 {
  width:30%;
}
#popular_card_img1 img, #popular_card_img2 img, #popular_card_img3 img{
  width:100%;
  height: 136px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
  
}
#popular_car_star1{
  display:flex;
  align-items: flex-end;
  flex-grow: 1;

}
#popular_car_star2{
  display:flex;
  align-items: flex-end;
  flex-grow: 1;

}
#popular_car_star3{
  display:flex;
  align-items: flex-end;
  flex-grow: 1;

  
}
#popular_star_text1, #popular_star_text2,#popular_star_text3{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  padding:10px 0px 20px 20px;
  width:70%;
}
.popular_card_text1{
  display: flex;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 16px;
}
.popular_card_text2{
  display: flex;
  font-weight: normal;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 16px;
  
}

/*ACTIVITY*/
#activityMars{
  margin:auto;
  max-width: 1600px;
  
}
#activityMars_contain{
  display: flex;
  width:90%;
  justify-content: space-between;
  height:500px;
  margin:10px 55px 55px 55px;
  
}
#activityMars_title{
  font-size: 21px;
  font-weight: bold;
  margin-top:40px;
  margin-left:55px;
  
}
#activityMars_card1{
  height:100%;
  width: 310px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 6px 10px 7px 5px rgba(237,237,237,1);
}
#activityMars_card1_img{
  height: 90%;
  
}
#activityMars_card1_img img{
  object-fit: cover;
  width:310px;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
#activityMars_card1_text{
  font-size: 18px;
  font-weight: bold;
 
}
#activityMars_card2_card3{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
#activityMars_card2{
  height:237px;
  width: 310px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 6px 10px 7px 5px rgba(237,237,237,1);
}
#activityMars_card2_img{
  height: 182px;
}
#activityMars_card2_img img{
  object-fit: cover;
  width:310px;
  height: 182px;
  border-radius: 15px 15px 0 0;
}
#activityMars_card3{
  height:167px;
  width: 310px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 6px 10px 7px 5px rgba(237,237,237,1);
}
#activityMars_card3_img{
  height: 108px;
}
#activityMars_card3_img img{
  object-fit: cover;
  width:310px;
  height: 108px;
  border-radius: 15px 15px 0 0;
}
#activityMars_card4{
  
  height:100%;
  width: 310px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 6px 10px 7px 5px rgba(237,237,237,1);
}
#activityMars_card4_img{
  height: 90%;
  
}
#activityMars_card4_img img{
  object-fit: cover;
  width:310px;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
#activityMars_card5_card6{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
#activityMars_card5{
  height:237px;
  width: 310px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 6px 10px 7px 5px rgba(237,237,237,1);
}
#activityMars_card5_img{
  height: 182px;
}
#activityMars_card5_img img{
  object-fit: cover;
  width:310px;
  height: 182px;
  border-radius: 15px 15px 0 0;
}
#activityMars_card6{
  height:167px;
  width: 310px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 6px 10px 7px 5px rgba(237,237,237,1);
}
#activityMars_card6_img{
  height: 108px;
}
#activityMars_card6_img img{
  object-fit: cover;
  width:310px;
  height: 108px;
  border-radius: 15px 15px 0 0;
}
/*FOOTER*/
footer{
  margin:auto;
  display: flex;
  background-color: #f2f2f2;

}
#navigation{
  display:flex;
  justify-content: space-around;
  width: 100%;
  }
#a_propos{
  display:flex;
  flex-direction: column;
  align-content: space-between;
}
#a_propos_title{
  font-size: 21px;
  font-weight: bold;
  padding: 50px 0px 20px 0px;
}
#nav_a_propos{
  font-weight: normal;
  display: flex;
  flex-direction: column;
}
#nos_hebergements {
  display: flex;
  flex-direction: column;
  
}
#nos_hebergements_title{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-size: 21px;
  font-weight: bold;
  padding: 50px 0px 20px 0px;
}
#nav_nos_hebergements{
  font-weight: normal;
}
 
#fonctionnement , #charte, #aide{
  display: flex;
  padding-bottom: 20px;
  
}
#conditions, #soumettre, #contact {
  display: flex;
  padding-bottom: 20px;
}
#assistance{
  display: flex;
  flex-direction: column;
  
}
#assistance_title{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-size: 21px;
  font-weight: bold;
  padding: 50px 0px 20px 50px;
}
#nav_assistance{
  font-weight: normal;
  padding-left: 50px;
}



/*RESPONSIVE*/
@media  screen and (min-width:768px) and (max-width:1024px){
  nav #ul_nav{
    margin-right: 0px;
  }
  #search{
    display:flex;
    justify-content: center;
  }
  #filter_eco_fam{
    margin-bottom: 15px;
  }
  #contain_principal{
    display: flex;
    flex-direction:row-reverse;
    flex-wrap: wrap;
    width: 100%;
  }
  #lodging_contain{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;

  }
  
  #lodging_card1, #lodging_card2, #lodging_card3, #lodging_card4, #lodging_card5, #lodging_card6{
    width:198px;
    flex-wrap: wrap;
    
  }
  #lodging_card_img1 img, #lodging_card_img2 img, #lodging_card_img3 img, #lodging_card_img4 img, #lodging_card_img5 img, #lodging_card_img6 img{
    object-fit: cover;
    width:95%
  }
  #popular_title_icon {
    display: flex;
    margin: 39px 40px 30px 20px;
    justify-content: space-between;
    width: 100%;
}
  #popular_contain{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    margin-right:0;
    height: 386px;

  }
  #popular_card_contain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 380px;
    margin:0
    
  }
  #popular_card1, #popular_card2{
    display: initial;
    width:30%;
    height:250px
  }
  #popular_card3{
    display: inline-block;
    width:100%;
    height:250px
  }
  #popular_card_img1 img{
    width:100%;
  }
  #popular_card_img2 img{
    width:100%;
  }
  #popular_card_img3 img{
    width:100%;
  }
  #popular_car_star1{
    padding-top:0px;
  }
    
}
  


@media screen and (max-width:375px){
  body{
    width:100%;
  }
  /*HEADER*/
  nav #ul_nav{
    margin-right: 0px;
    width:100%;
  }
  #activity{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
  }
  #ul_nav{
  width:100%;
  flex-wrap: wrap-reverse;
  justify-content: end;
  margin-top: 80px;
  
  }
  #li_subscrib{
    position: absolute;
    right: 10px;
    top:0;
    padding:0px;
  }
  nav{
  position: relative;
  }
  
  nav #logo{
  display: flex;
  position: absolute;
  align-self: flex-start;
  margin:5% 10% 0 3%;
  }
  #lodging, #activity{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    text-align: center;
  }
  nav #lodging{  
    margin:auto;
  }
  nav #li_lodging{
    padding:10px 40px 10px 40px;
    border-bottom: 3px solid #f2f2f2;
    width:100%;
    
  }
  nav #activity{
    margin:auto;
    width:50%;
  }
  nav #li_lodging, #li_activity{ 
    padding-bottom:10px;
  }
  nav #li_activity{
    padding:10px 40px 10px 40px;
    border-bottom: 3px solid #f2f2f2;
    width:100%;

  }
  #li_lodging:hover{
    border-top: 0;
    border-bottom: 2px solid #0065fc;
    color:blue
  }
  #li_activity:hover{
    border-top:0;
    border-bottom: 2px solid #0065fc;
    color:blue;
  }
  #subscrib{
    position:absolute;
    right: 0px;
    top:35px;
  }
 
  
  /*TITLE*/
  #title_header{
    margin: auto;
    max-width: 100%;
    display: flex;
     
  }
  #title1 h1{
    margin:0 25px 10px 30px;
  }
  #title1 {
    display: flex;
    margin-top:35px;
    margin-right: 25px;
    text-align:justify ;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
  }
  #title2 {
    width:100%;
  
  }
  #title2 p{
    margin-left: 30px;
  }
  /*SEARCH*/
  #search{
    margin:auto;
    max-width: 100%;
    display: flex;
    margin:20px;
  }
  #submit_input{
    display:flex;
    margin-right: 10px;
  }
  #search_input{
    width:65%;
  }
  #input{
    display: flex;
    font-size: 15px;
  }
  #button_gps{
    margin-left:3%;
  }
  #submit_input_respons{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0065fc;
  color:white;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border:none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  }
  #submit_input{
    margin:0;
  }
  #submit_search{
    display:none;
  }
  /*FILTERS*/
  #filters_contains{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 25px;
  }
  #filter_title{
    margin:0 0 20px 0

  }
  #filter_fam{
    display: flex;
    margin:7px;
  }
  #filter_eco_fam{
    display: flex;
  }
  #filter_eco, #filter_rom, #filter_anim{
    margin:7px 0;
    font-size: 15px;
  }
  /*LEGEND*/
  #informations{
    display:flex;
    margin:auto;
    max-width: 100%;
  }
  #filter_legend{
    margin:0px 0px 0 20px; 
  }
  #legend_icon{
  width: 40px;
  }
  /*LODGING-POPULAR*/
  #contain_principal{
    margin: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    
  }
  #lodging_contain{
      display: inline-block;
      background-color:white;
      width: 100%;
      border-radius: 20px;
      margin-top: 40px;
      height:1400px;
  }
  #lodging_card_contain{
    margin:0px 10px 104px 10px;
  }
  #lodging_card1, #lodging_card2, #lodging_card3, #lodging_card4, #lodging_card5, #lodging_card6 {
    width: 100%;
    height: 195px;
    background-color: white;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #lodging_card_img1 img, #lodging_card_img2 img, #lodging_card_img3 img, #lodging_card_img4 img, #lodging_card_img5 img, #lodging_card_img6 img {
    width: 95%;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 15px 15px 0 0;
  }
 
  /*POPULAR*/
  #popular_title{
    font-size: 21px;
    font-weight: bold;
  }
  #popular_contain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 580px;
    background-color: #f2f2f2;
    margin-top: 40px;
    border-radius: 0;
  }
  #popular_card_contain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 503px;
    margin: 0px 37px 37px 10px;
  }
 
  #lodging_title {
   margin: 40px 0 30px 20px;
  }
  /*activity*/
  #activityMars_title{
    margin-left: 5px;
  }
  #activityMars{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 2060px;
    width:95%;
    
  }
  #activityMars_contain{
    display: flex;
    flex-wrap: wrap;
    width:95%;
    margin-left:10px;
    margin-top:20px;
    margin-right: 10px;
    justify-content: space-between;
    
  }
  #activityMars_card2_card3, #activityMars_card5_card6{
    width:100%;
  }
  
  #activityMars_card1_img img, #activityMars_card2_img img, #activityMars_card3_img img, #activityMars_card4_img img, #activityMars_card5_img img, #activityMars_card6_img img{
    width: 100%;
    padding:10px
    
  } 
  
  #activityMars_card1, #activityMars_card2, #activityMars_card3,  #activityMars_card4, #activityMars_card5, #activityMars_card6{
    width:95%;
    margin-top: 10px;
    margin-bottom:10px;
  }
  
  footer{
    display: flex;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    
  }
  nav #a_propos{
    font-weight: normal;
    display: flex;
    flex-direction: column;
  
  }
  #fonctionnement, #charte, #aide, #données{
    display: flex;
    justify-content: center;
  }
  #conditions, #soumettre, #contact{
    display: flex;
    justify-content: center;
  }
  #a_propos{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navigation{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    }
  #assistance{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    }
  #assistance_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
  }
  #nav_assistance{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 0;
    }
  
}  

  





